.headerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nft {
  min-width: 180px;
  width: 30%;
  margin-right: 40px;
}

.nft img {
  max-width: 100%;
}

.exchangeLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}

.exchangeLinks div {
  cursor: pointer;
}

<<<<<<< HEAD
=======
.exchangeLinks div:first-child img:hover {
  content: url('/blur.svg');
}

.exchangeLinks div:nth-child(2) img:hover {
  content: url('/opensea.svg');
}

.exchangeLinks div:nth-child(3) img:hover {
  content: url('/looksrare.svg');
}

.exchangeLinks div:nth-child(4) img:hover {
  content: url('/x2y2.svg');
}

.exchangeLinks div:nth-child(5) img:hover {
  content: url('/etherscan.svg');
}

>>>>>>> 8df950a8 (NFT-974: Exchange links on auction)
.headerInfo {
  width: 70%;
}

.livePrice {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.countdown {
  margin-right: 26px;
}

.completed {
  align-items: start;
  margin: 22px 0;
}

.sold p {
  margin: 0px;
  margin-top: -8px;
  margin-right: 40px;
  font-size: var(--font-huge);
}

.prices {
  margin-top: -2px;
}

.prices p {
  margin: -6px 0;
}

.prices p:first-child {
  font-size: var(--font-huge);
}

.summaryTable tbody tr {
  background-color: #f9f9f9 !important;
}

.summaryTable td {
  text-align: center;
}

.updatable {
  background-color: inherit;
  color: inherit;

  -webkit-transition: background-color 0.15s linear, color 0.15s linear;
  -ms-transition: background-color 0.15s linear, color 0.15s linear;
  transition: background-color 0.15s linear, color 0.15s linear;
}

.updated {
  background-color: var(--highlight-clickable-5);
  color: var(--highlight-clickable-100);

  -webkit-transition: background-color 0.15s linear, color 0.15s linear;
  -ms-transition: background-color 0.15s linear, color 0.15s linear;
  transition: background-color 0.15s linear, color 0.15s linear;
}

.graphWrapper {
  width: 100%;
  margin-top: 12px;
}
