.nav.papr {
  background: url('/graph-square.png'),
    linear-gradient(
      120deg,
      var(--papr-offset-gradient) 0%,
      var(--papr-100-gradient) 100%
    );
}

.nav.meme {
  background: url('/graph-square.png'),
    linear-gradient(
      120deg,
      var(--paprMEME-offset-gradient) 0%,
      var(--paprMEME-100-gradient) 100%
    );
}

.nav.hero {
  background: url('/graph-square.png'),
    linear-gradient(
      120deg,
      var(--paprHERO-offset-gradient) 0%,
      var(--paprHERO-100-gradient) 100%
    );
}

.nav.trash {
  background: url('/graph-square.png'),
    linear-gradient(
      120deg,
      var(--paprTRASH-offset-gradient) 0%,
      var(--paprTRASH-100-gradient) 100%
    );
}

.nav {
  width: 100%;
  padding: 20px 0;
  height: 151px;
}

.logo-only-nav {
  composes: nav;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  align-items: center;
  max-width: var(--max-width);
  width: 100%;
  height: 100%;
  padding: 0 1rem;
}

.desktop-content {
  composes: content;
  margin: 0 auto;
}

.mobile-content {
  composes: content;
  flex-direction: column;
}

.links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  background: white;
  font-size: var(--font-large);
  border-radius: 10px;
  padding: 2px;
  gap: 2px;
}

.entry {
  padding: 5px 15px;
  height: 48px;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  align-items: center;
  border-radius: 10px;
  line-height: 31px;
}

.link {
  composes: entry;
}

.link,
.link:visited {
  color: black;
  transition: color 200ms ease;
}

.link.papr:hover {
  transition: background-color 200ms ease;
  background-color: var(--papr-5);
}

.link-active.papr {
  background-color: var(--papr-5);
}
.link-active.papr:hover {
  background-color: var(--papr-10);
}

.link.meme:hover {
  transition: background-color 200ms ease;
  background-color: var(--paprMEME-5);
}

.link-active.meme {
  background-color: var(--paprMEME-5);
}
.link-active.meme:hover {
  background-color: var(--paprMEME-10);
}

.link.hero:hover {
  transition: background-color 200ms ease;
  background-color: var(--paprHERO-5);
}

.link-active.hero {
  background-color: var(--paprHERO-5);
}
.link-active.hero:hover {
  background-color: var(--paprHERO-10);
}

.link.trash:hover {
  transition: background-color 200ms ease;
  background-color: var(--paprTRASH-5);
}

.link-active.trash {
  background-color: var(--paprTRASH-5);
}
.link-active.trash:hover {
  background-color: var(--paprTRASH-10);
}

.link-active:visited {
  color: black;
}

.logo {
  position: relative;
  max-width: 120px;
}

@media screen and (max-width: 750px) {
  .mobile-content {
    display: flex;
  }
  .desktop-content {
    display: none;
  }
}
@media screen and (min-width: 751px) {
  .mobile-content {
    display: none;
  }
  .desktop-content {
    display: flex;
  }
}
