.nfts {
    display: flex;
    flex-direction: column;
}

.columnLabels p {
    color: var(--greentext);
    text-transform: uppercase;
    font-size: 12px;
    font-family: var(--sans);
    letter-spacing: .12rem;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.row p {
    margin: 0;
    line-height: 30px;
}

.imageTokenId {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
}

.imageTokenId div:nth-child(2) {
    margin: 0 10px;
}

.oracleCheckBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 44%;
}

.oracleCheckBox > div {
    width: 40%;
    text-align: center;
}

.row img {
    width: 30px;
    vertical-align: middle;
}

.row input {
    vertical-align: middle;
}

.even {
    background-color: white;
}

.approve {
    cursor: pointer;
    color: var(--highlight-clickable-100);
}

.selectAll {
    cursor: pointer;
    width: 100%;
    color: var(--highlight-clickable-100);
    text-align: right;
}

.selectAll p {
    margin: 0;
}