.standard-fieldset {
  border: thin black solid;
  width: 100%;
  padding: var(--padding-container);
  word-break: normal;
  overflow-wrap: anywhere;
  border-radius: 10px;
}

.legend {
  line-height: 0;
  font-size: var(--font-large);
  text-transform: uppercase;
  color: black;
  padding: 0 4px;
}
