.thumbnail {
  width: 30px;
  height: 30px;
}

.thumbnail img {
  width: 100%;
}

.collateralTable p {
  margin: 0;
}

.collateralTable thead tr th {
  text-align: center;
  vertical-align: top;
}

.collateralTable tbody tr td {
  text-align: center;
}

.collateralTable thead tr th:nth-of-type(1) {
  text-align: left;
}

.collateralTable tbody tr td:nth-of-type(1) {
  padding: 0;
}

.collateralTable tbody tr td:last-of-type {
  padding: 0;
}

.collateralTable tbody tr td:last-of-type input {
  margin-top: 4px;
}

.collateralTable thead tr th:nth-of-type(2) {
  text-align: left;
  width: 17%;
}

.collateralTable tbody tr td:nth-of-type(2) {
  text-align: left;
  width: 17%;
}

.collateralTable tr.liquidating {
  color: var(--highlight-alert-100);
}

.collateralTable tr.liquidated {
  color: #888888;
}

.slider {
  margin-top: -18px;
  margin-bottom: 30px;
}

.editLoanPreviewWrapper {
  width: 100%;
}

.editLoanPreview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.editLoanPreview .editLoanButtonWrapper {
  width: 40%;
}

.editLoanPreview p:first-of-type span {
  font-size: var(--font-huge);
}

.editLoanPreview p:nth-of-type(2) {
  text-align: right;
}

.editLoanPreview p {
  margin: 0px;
}

.editLoanForm {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.editLoanForm > div {
  margin: 0 4px;
}

.editLoanForm div button div {
  min-height: 40px;
}

.editLoanForm:nth-child(3) {
  width: 30%;
}

.editLoanForm div input {
  width: 100%;
  border: 1px solid black;
  background-color: white;
  border-radius: var(--border-radius);
  padding: 12px;
  font-size: var(--font-large);
  max-width: 150px;
  text-align: right;
  appearance: none;
}

.editLoanForm div input::-webkit-outer-spin-button,
.editLoanForm div input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

span.debtAmountInputWrapper {
  position: relative;
}

span.debtAmountInputWrapper:before {
  position: absolute;
  top: -4px;
  content: 'papr';
  left: 7px;
}

.slippage {
  width: 100%;
  text-align: right;
  padding-right: 6px;
}

.approveButtons {
  margin-top: 20px;
  text-align: right;
  width: 100%;
}

.approveButtons button {
  width: 60%;
}

.loanActionSummaryWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: var(--font-medium);
}

.loanActionSummary {
  width: 100%;
}

.loanActionSummary.papr > div:nth-of-type(odd) {
  background-color: var(--papr-5);
}

.loanActionSummary.meme > div:nth-of-type(odd) {
  background-color: var(--paprMEME-5);
}

.loanActionSummary.hero > div:nth-of-type(odd) {
  background-color: var(--paprHERO-5);
}

.loanActionSummary.trash > div:nth-of-type(odd) {
  background-color: var(--paprTRASH-5);
}

.loanActionSummary > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.loanActionSummary > div > div:first-of-type {
  margin-left: 10px;
}

.loanActionSummary > div > div:nth-of-type(2) {
  margin-right: 10px;
}

.loanActionSummary > div p {
  margin: 2px;
}

.loanActionSummary .swapQuote {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.loanActionSummary .swapQuote input {
  margin-right: 6px;
}

.loanActionSummary .swapQuote p {
  margin-top: 2px;
}

.greyed.papr {
  color: var(--papr-20);
}
.greyed.meme {
  color: var(--paprMEME-20);
}
.greyed.hero {
  color: var(--paprHERO-20);
}
.greyed.trash {
  color: var(--paprTRASH-20);
}

.updateLoanButtonWrapper {
  margin-top: 18px;
  width: 100%;
  text-align: right;
}

.updateLoanButtonWrapper button {
  width: 60%;
}

.error {
  margin-top: 12px;
  width: 100%;
  font-style: italic;
  color: var(--highlight-alert-100);
}

.hidden {
  visibility: hidden;
}

.sliderLabel {
  line-height: 20px;
}

.totalLTVLabel {
  text-align: right;
  position: relative;
  top: 30px;
  margin: 0px;
}

.totalLTVLabel.hidden {
  color: white;
}

.loan-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 60%;
  margin-left: auto;
  font-size: var(--font-large);
}

.costToCloseOrMax {
  display: flex;
  flex-direction: row;
}

.costToCloseOrMax > div:first-of-type {
  margin-right: 10px;
}
