

.strategies {

}

.strategies ol {
    margin: 0px;
    padding: 0px;
}

.columnLabels p {
    color: var(--greentext);
    text-transform: uppercase;
    font-size: 12px;
    font-family: var(--sans);
    letter-spacing: .12rem;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.row p {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.clickable {
    cursor: pointer;
}

.token {
    width: 25%;
}

.mathColumn {
    width: 15%;
}

.rate {
    width: 20%;
}

.even {
    background-color: white;
}