.table {
  border-spacing: 0;
  width: 100%;
}

.table tr {
  height: 30px;
  background-color: var(--background-white);
}

.table td:first-child {
  padding-left: 8px;
}

.table td:not(:first-child) {
  padding-left: 1rem;
}

.table tr:nth-child(even) {
  background-color: transparent;
}
