.box {
  color: black;
  background: var(--background-white);
  padding: 16px 24px;
  border: 2px black solid;
  font-size: var(--font-large);
  line-height: var(--font-large);
  width: 100%;
}

.disclosure {
  composes: box;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.disclosure > svg {
  stroke: black;
  transform: rotate(-90deg);
}

.opened {
  composes: disclosure;
}

.currently-open {
  composes: opened;
  border-bottom: none;
}

.currently-open > svg {
  transform: rotate(0deg);
}

.content {
  composes: box;
  border-top: none;
}

.content p {
  line-height: 2rem;
  margin: 0;
}
