.disclosure {
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--background-white);
  padding: 16px 24px;
  border: 2px black solid;
}

.disclosure > svg {
  stroke: black;
  transform: rotate(-90deg);
}

.opened {
  composes: disclosure;
}

.currently-open {
  composes: opened;
}

.currently-open > svg {
  transform: rotate(0deg);
}
