.button {
  border: none;
  border-radius: var(--border-radius-large);
  line-height: 31px;
  cursor: pointer;
}

.button:hover {
  transition: background-color 200ms ease;
}

.big {
  padding: var(--padding-button-big);
  font-size: var(--font-huge);
  min-height: 63px;
}

.small {
  padding: var(--padding-button-small);
  font-size: var(--font-large);
  min-height: 48px;
}

.regular {
  composes: button;
}

.regular.papr {
  background-color: var(--button-outline-papr);
  color: white;
}

.regular.papr:hover,
.regular.papr:focus {
  background: var(--button-outline-papr);
}

.regular.hero {
  background-color: var(--button-outline-hero);
  color: white;
}

.regular.hero:hover,
.regular.hero:focus {
  background: var(--button-outline-hero);
}

.regular.meme {
  background-color: var(--button-outline-meme);
  color: white;
}

.regular.meme:hover,
.regular.meme:focus {
  background: var(--button-outline-meme);
}

.regular.white {
  background-color: white;
  color: black;
}

.regular.white:hover,
.regular.white:focus {
  background: var(--highlight-clickable-10);
}

.outline {
  composes: button;
  background-color: white;
}

.outline.papr {
  border: 2px var(--button-outline-papr) solid;
  color: var(--button-outline-papr);
}

.outline.papr:hover,
.outline.papr:focus {
  background: var(--button-fill-papr);
}

.outline.meme {
  border: 2px var(--button-outline-meme) solid;
  color: var(--button-outline-meme);
}

.outline.meme:hover,
.outline.meme:focus {
  background: var(--button-fill-meme);
}

.outline.hero {
  border: 2px var(--button-outline-hero) solid;
  color: var(--button-outline-hero);
}

.outline.hero:hover,
.outline.hero:focus {
  background: var(--button-fill-hero);
}

.outline.white {
  border: 2px black solid;
  color: black;
}

.outline.white:hover,
.outline.white:focus {
  background: var(--highlight-clickable-10);
}

.button:disabled {
  color: var(--neutral-50);
  background: var(--neutral-5);
  cursor: not-allowed;
}

.button:disabled:hover,
.button:disabled:focus {
  color: var(--neutral-50);
  background: var(--neutral-5);
}

.button-completed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-button);
  width: 100%;
  line-height: 1.6;
  font-size: var(--font-large);
  border-radius: var(--border-radius-large);
  position: relative;
  background: var(--highlight-visited-5);
}

.button-completed-message {
  font-size: var(--font-medium);
}

.button-completed-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--highlight-visited-10);
  border-radius: 1rem;
  position: absolute;
  z-index: 50;
  left: 1rem;
  cursor: default;
  user-select: none;
}

.button-link {
  text-align: center;
  display: inline-block;
  line-height: 31px;
}

.regular.button-link:visited {
  color: var(--highlight-clickable-100);
}

.text-button {
  border: none;
  background: none;
  cursor: pointer;
}

.text-button-neutral {
  composes: text-button;
  color: var(--neutral-100);
}

.text-button-clickable {
  composes: text-button;
  color: var(--highlight-clickable-100);
}

.text-button-visited {
  composes: text-button;
  color: var(--highlight-visited-100);
}

.text-button-active {
  composes: text-button;
  color: var(--highlight-active-50);
}

.text-button-alert {
  composes: text-button;
  color: var(--highlight-alert-100);
}

.text-button-success {
  composes: text-button;
  color: var(--highlight-success-100);
}
