.button {
  border: none;
  border-radius: var(--border-radius);
  line-height: 31px;
  cursor: pointer;
}

.button:hover {
  transition: background-color 200ms ease;
}

.big {
  padding: var(--padding-button-big);
  font-size: var(--font-huge);
  min-height: 63px;
}

.small {
  padding: var(--padding-button-small);
  font-size: var(--font-large);
  height: 44px;
}

.xsmall {
  padding: var(--padding-button-xsmall);
  font-size: var(--font-small);
  min-height: 48px;
}

.regular {
  composes: button;
  color: white;
}

.regular.papr {
  background-color: var(--papr-100);
}
.regular.papr.confirming {
  background-color: var(--papr-110) !important;
}
.regular.papr:hover {
  background-color: var(--papr-110);
}

.regular.hero {
  background-color: var(--paprHERO-50);
}
.regular.hero:hover {
  background-color: var(--paprHERO-100);
}

.regular.meme {
  background-color: var(--paprMEME-50);
}
.regular.meme:hover {
  background-color: var(--paprMEME-100);
}

.regular.trash {
  background-color: var(--paprTRASH-50);
}
.regular.trash:hover {
  background-color: var(--paprTRASH-100);
}

.white {
  composes: button;
  background-color: white;
}

.white.papr:hover,
.white.papr:focus {
  background: var(--papr-5);
}

.white.hero:hover,
.white.hero:focus {
  background: var(--paprHERO-5);
}

.white.meme:hover,
.white.meme:focus {
  background: var(--paprMEME-5);
}

.white.trash:hover,
.white.trash:focus {
  background: var(--paprTRASH-5);
}

.outline {
  composes: button;
  background-color: white;
}

.outline-transparent {
  composes: outline;
  background-color: transparent;
}

.outline-transparent:disabled {
  background-color: transparent;
}

.outline.papr {
  border: 1px var(--papr-100) solid;
  color: var(--papr-100);
}

.outline.papr:hover,
.outline.papr:focus {
  background: var(--papr-5);
}

.outline.meme {
  border: 1px var(--paprMEME-100) solid;
  color: var(--paprMEME-100);
}

.outline.meme:hover,
.outline.meme:focus {
  background: var(--paprMEME-5);
}

.outline.hero {
  border: 1px var(--paprHERO-100) solid;
  color: var(--paprHERO-100);
}

.outline.hero:hover,
.outline.hero:focus {
  background: var(--paprHERO-5);
}

.outline.trash {
  border: 1px var(--paprTRASH-100) solid;
  color: var(--paprTRASH-100);
}

.outline.trash:hover,
.outline.trash:focus {
  background: var(--paprTRASH-5);
}

.button:disabled {
  cursor: not-allowed;
  color: var(--gray-30);
  background-color: var(--gray-5);
}

.button.outline:disabled {
  border: 1px var(--gray-30) solid;
}

.button:disabled:hover,
.button:disabled:focus {
  background-color: var(--gray-5);
}

.button.outline-transparent:disabled,
.button.outline-transparent:disabled:hover,
.button.outline-transparent:disabled:focus {
  background: transparent;
}

.button.hero.outline-transparent:disabled {
  color: var(--button-outline-hero);
}
.button.meme.outline-transparent:disabled {
  color: var(--button-outline-meme);
}
.button.papr.outline-transparent:disabled {
  color: var(--button-outline-papr);
}

.button-completed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-button);
  width: 100%;
  line-height: 1.3;
  font-size: var(--font-large);
  border-radius: var(--border-radius);
  position: relative;
  background: var(--gray-5);
  padding-top: 2px;
}

.button-completed-message {
  font-size: var(--font-medium);
}

.button-completed-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  background: #dddddd;
  border-radius: 1rem;
  position: absolute;
  z-index: 50;
  left: 1rem;
  cursor: default;
  user-select: none;
}

.failure {
  background-color: #f3d4df;
}

.failure > svg {
  fill: var(--highlight-alert-100);
}

.button-link {
  text-align: center;
  display: inline-block;
  line-height: 31px;
}

.regular.button-link:visited {
  color: var(--highlight-clickable-100);
}

.text-button {
  border: none;
  background: none;
  cursor: pointer;
}

.text-button-neutral {
  composes: text-button;
  color: var(--neutral-100);
}

.text-button-clickable {
  composes: text-button;
  color: var(--highlight-clickable-100);
}

.text-button-visited {
  composes: text-button;
  color: var(--highlight-visited-100);
}

.text-button-active {
  composes: text-button;
  color: var(--highlight-active-50);
}

.text-button-alert {
  composes: text-button;
  color: var(--highlight-alert-100);
}

.text-button-success {
  composes: text-button;
  color: var(--highlight-success-100);
}

.gradient-button {
  composes: button;
  composes: button-link;
  composes: small;
  color: black;
  font-size: var(--font-huge);
}

.gradient-button:visited {
  color: black;
}

.gradient-button-orange {
  composes: gradient-button;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    linear-gradient(#faff00, #ff5c00);
}

.gradient-button-orange:hover {
  background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    linear-gradient(#faff00, #ff5c00);
}

.gradient-button-blue {
  composes: gradient-button;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    linear-gradient(#5397ff, #00f0ff);
}

.gradient-button-blue:hover {
  background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    linear-gradient(#5397ff, #00f0ff);
}

.gradient-button-green {
  composes: gradient-button;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    linear-gradient(var(--paprMEME-offset), var(--paprMEME-50));
}

.gradient-button-green:hover {
  background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    linear-gradient(var(--paprMEME-offset), var(--paprMEME-50));
}
