.table:nth-of-type(1) {
  margin-bottom: 30px;
}

.table th {
  text-align: center;
}

.loan {
  width: auto;
  white-space: nowrap;
}

.indicator-danger {
  color: var(--highlight-alert-100);
}

.table td {
  white-space: pre;
  text-align: center;
}
