.table:nth-of-type(1) {
  margin-bottom: 30px;
}

.table th {
  text-align: center;
}

.loan {
  width: auto;
  white-space: nowrap;
}

div.indicator {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Arial';
}

.indicator-danger {
  composes: indicator;
  color: var(--highlight-alert-100);
}

.table td {
  white-space: pre;
  text-align: center;
}

.tooltip div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.button-container {
  text-align: center;
  margin-top: 1.5rem;
}
