.table:nth-of-type(1) {
  margin-bottom: 30px;
}

.table th {
  text-align: center;
}

.loan {
  width: auto;
  white-space: nowrap;
}

.table td {
  white-space: pre;
  text-align: center;
}

.tooltip div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.button-container {
  text-align: center;
  margin-top: 1.5rem;
}

.marquee {
  width: 50px;
}

.marquee-column {
  padding: 0 !important;
}

.first-column {
  width: 50px;
}
