.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  justify-content: center;
}

.tile {
  height: 48px;
  width: 48px;
}

.tile img {
  height: 48px;
  width: 48px;
}

.button-container {
  text-align: center;
  margin-top: 1.5rem;
}
