.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  justify-content: center;
}

.tile {
  height: 48px;
  width: 48px;
}

.tile img {
  height: 48px;
  width: 48px;
}

.button-container {
  text-align: center;
  margin-top: 1.5rem;
}

.statsTable {
  margin-bottom: 26px;
}

.statsTable p {
  margin: 0;
  padding: 0 10px;
}

.statsTable tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
