.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  justify-content: center;
}

.tile {
  height: 48px;
  width: 48px;
}

.tile img {
  height: 48px;
  width: 48px;
}

.button-container {
  text-align: center;
  margin-top: 1.5rem;
}

.stats {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.stats > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stats > div:first-of-type,
.stats > div:nth-of-type(3) {
  background-color: var(--papr-5);
}

.stats p {
  margin: 0;
  padding: 0 8px;
}
