.slider {
  width: 100%;
  height: 36px;
  margin: 0 auto;
  background-image: url('../../public/slider-tile-dim.svg');
  cursor: pointer;
}

.track {
  height: 36px;
  background-image: url('../../public/slider-tile-bright.svg');
  z-index: 2;
}

/* The track comes in 2 parts. This selects everything _but_ the first element
   with a track classname (i.e., it just selects the second part) and dims it.
   This allows us to keep a consistent checkerboard background with 2 different
   colors. */
.track ~ .track {
  background-image: none;
  z-index: 1;
}

.thumb {
  /*color for the thumb */
  background: var(--greentext);
  /* shape of the thumb: circle */
  width: 8px;
  height: 46px;
  margin-top: -5px;
  border: 2px white solid;
  border-radius: 4px;
  /* remove default outline when selected */
  outline: none;
  transition: outline 0.1s;
  z-index: 2 !important;
}

.thumb > div {
  color: var(--greentext);
  position: relative;
  bottom: -46px;
  left: -44px;
  width: 100px;
  transition: 300ms;
}

.thumb > div p {
  margin: 0;
  text-align: center;
}

.thumb:hover {
  outline: 2px solid white;
  border: 2px var(--greentext) solid;
}
