.nftCapTooltip {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nftCapTooltip p {
    margin: 0;
}

.nftCapTooltip .value {
    width: 30%;
}

.nftCapTooltip .description {
    width: 70%;
}

.mktCtrTooltip {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mktCtrTooltip .grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mktCtrTooltip .grid div:nth-child(n + 1) {
    width: 60%;
}

.mktCtrTooltip .grid div:nth-child(2n) {
    width: 40%;
}

.rateTooltip {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.rateTooltip div:nth-child(n + 1) {
    width: 60%;
}

.rateTooltip div:nth-child(2n) {
    width: 40%;
}