.chart {
  margin: 0 16px;
}

.wrapper {
  display: flex;
}

.label {
  writing-mode: vertical-lr;
  text-orientation: sideways;
  transform: rotate(180deg);
  text-align: center;
}

.price-label {
  color: #FF659C;
}

.apr-label {
  color: #0000ee;
}

.positive {
  color: var(--greentext);
}

.negative {
  color: var(--highlight-alert-100);
}