.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  background-color: var(--gray-5);
  padding: 16px;
}

.footer-links {
  list-style-type: none;
  display: flex;
  gap: 1em;
}

.footer-links a {
  color: black;
}
