

.pnlSummary {
    font-family: monospace;
    display: grid;
    grid-template-columns: 1fr 16px 1fr 16px 1fr;
    gap: 10px;
    width: 80%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .blue {
    background-color: cornflowerblue;
    white-space: nowrap;
    line-height: 20px;
  }
  .green {
    background-color: greenyellow;
    white-space: nowrap;
    line-height: 20px;
  }
  .red {
    background-color: crimson;
    white-space: nowrap;
    line-height: 20px;
  }
  .pink {
    background-color: coral;
    white-space: nowrap;
    line-height: 20px;
  }
  .yellow {
    background-color: cornsilk;
    white-space: nowrap;
    line-height: 20px;
  }
  
  .bottomMath {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    line-height: 20px;
  }  


/* table */

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 3rem;
  }
  
  .th,
  .td {
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  
  .th {
    font-weight: 600;
    color: #333;
    background-color: #f2f2f2;
  }
  
  .td {
    color: #666;
  }
  
  .tr:hover {
    background-color: #f5f5f5;
  }
  
  .tr:last-child td {
    border-bottom: none;
  }