.wrapper {
  padding-top: 47px;
}

.wrapper h1,
.wrapper h2 {
  text-align: center;
  margin: 0;
}

.wrapper h1 {
  text-transform: uppercase;
  margin-top: 40px;
}

.wrapper h1 {
  margin-bottom: 40px;
}

.table th,
.table td {
  text-align: center;
}

.phUSDCTable input {
  max-width: 150px;
  border: none;
  border-radius: 10px;
  padding: 12px;
  text-align: right;
}

.buyOrSell button {
  margin: 0 4px;
}

.allowedCollateralTable thead tr th.yourBalance {
  width: 20%;
}

.allowedCollateralTable thead tr th {
  width: 30%;
}

.allowedCollateralTable thead tr th p {
  margin: 0;
  line-height: 1.5em;
}

.button {
  cursor: pointer;
  background-color: white;
  padding: 10px;
  color: var(--highlight-clickable-100);
  border: none;
  border-radius: 10px;
}

.legendNFT {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
}

.legendNFT div {
  width: 20px !important;
}
.legendNFT img {
  width: 100%;
}

.legendNFT p {
  margin: 0px;
  margin-left: 12px;
}

.fieldsetsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fieldsetsWrapper fieldset p {
  padding: 0;
}

.userWalletValue {
  background-color: var(--heroes-red);
}

.userWalletValue p {
  padding: 10px !important;
}

.phUSDCWrapper {
  margin: 3%;
}

.leaderboard {
  font-size: var(--font-large);
}

.leaderboardTable th {
  text-transform: none !important;
  font-size: var(--font-medium);
  letter-spacing: 0.08rem;
  font-weight: inherit;
  line-height: 1.2em;
  padding-bottom: 10px;
  white-space: pre;
}

.leaderboardTable td {
  white-space: pre;
  font-size: var(--font-medium);
}

.leaderboardTable thead th div {
  text-align: center;
}

.leaderboardTable thead th p {
  margin: 0;
  line-height: 1.5em;
}

.leaderboardTable tbody tr:nth-child(2n) {
  background-color: white !important;
}

.leaderboardTable p {
  margin: 0;
}

.leaderboardTable .green {
  color: #008a69;
}

.leaderboardTable .red {
  color: #d83200;
}

.leaderboardTable tr td:first-child {
  text-align: left;
}

.join {
  margin: 0;
}
