.table th {
  text-align: left;
}

.table .right-align {
  text-align: right;
}

.table .center-align {
  text-align: center;
}

.loan {
  width: auto;
  white-space: nowrap;
}

.indicator-danger {
  color: var(--highlight-alert-100);
}
