.chart {
  margin: 0 8px;
}

.wrapper {
  display: flex;
}

.label {
  writing-mode: vertical-lr;
  text-orientation: sideways;
  transform: rotate(180deg);
  text-align: center;
  font-size: var(--font-large);
  letter-spacing: 0.06em;
}

.price-label-paprMeme {
  color: var(--paprMEME-50);
}
.price-label-paprHero {
  color: var(--paprHERO-50);
}
.price-label-paprTrash {
  color: var(--paprTRASH-50);
}

.apr-label {
  color: var(--papr-100);
}

.positive {
  color: var(--greentext);
}

.negative {
  color: var(--highlight-alert-100);
}
