:root {
  /* colors */
  --highlight-clickable-100: #0000ee;
  --highlight-clickable-50: #adadff;
  --highlight-clickable-20: #d6d6ff;
  --highlight-clickable-10: #e8e5f1;
  --highlight-clickable-7: #ececfe;
  --highlight-clickable-5: #f0f0fe;
  --highlight-visited-100: #75187c;
  --highlight-visited-10: #eadbeb;
  --highlight-visited-7: #f2e9f2;
  --highlight-visited-5: #f7f1f7;
  --highlight-active-50: #ff7a00;
  --highlight-active-20: #fffb58;
  --highlight-active-10: #fffdba;
  --highlight-active-5: #fffbd3;
  --highlight-alert-100: #db004d;
  --highlight-alert-10: #ffeff5;
  --highlight-success-100: #317049;
  --highlight-success-10: #e1ffef;
  --neutral-100: #111111;
  --neutral-50: #ab9b96;
  --neutral-30: #ebf9ff;
  --neutral-20: #e6ded6;
  --neutral-10: #f4f0ec;
  --neutral-5: #f9f7f5;
  --optimistic-red-10: #fff5f4;
  --optimistic-red-100: #fe0420;
  --polygon-purple-10: #f8f5ff;
  --polygon-purple-100: #7b3fe4;
  --heroes-red: #ffe7e0;
  --greentext: #007155;
  --button-outline-papr: #2675ee;
  --button-fill-papr: #f1f6ff;
  --button-outline-hero: #e03400;
  --button-fill-hero: #fff2ee;
  --button-outline-meme: #06846f;
  --button-fill-meme: #f3fcfb;

  /* papr colors */
  --papr-5: #f5f9ff;
  --papr-10: #e5efff;
  --papr-20: #cce0fe;
  --papr-50: #5397ff;
  --papr-100: #0064fa;
  --papr-110: #0000c2;
  --papr-offset: #00cdfa;
  --papr-100-gradient: #0064fa50;
  --papr-offset-gradient: #00cdfa50;

  --paprMEME-5: #f2f9f8;
  --paprMEME-10: #e4f3f1;
  --paprMEME-20: #c6e6e1;
  --paprMEME-50: #47b79c;
  --paprMEME-100: #06846f;
  --paprMEME-offset: #00e827;
  --paprMEME-100-gradient: #06846f50;
  --paprMEME-offset-gradient: #00e82750;

  --paprTRASH-5: #fef5f2;
  --paprTRASH-10: #ffe8e0;
  --paprTRASH-20: #ffd7cc;
  --paprTRASH-50: #ff6333;
  --paprTRASH-100: #e03400;
  --paprTRASH-offset: #ffc658;
  --paprTRASH-100-gradient: #e0340050;
  --paprTRASH-offset-gradient: #ffc65850;

  --paprHERO-5: #f8f7ff;
  --paprHERO-10: #e9e8ff;
  --paprHERO-20: #dddbff;
  --paprHERO-50: #908ee7;
  --paprHERO-100: #4c45d9;
  --paprHERO-offset: #ff778f;
  --paprHERO-100-gradient: #4c45d950;
  --paprHERO-offset-gradient: #ff778f50;

  --gray-5: #f2f2f2;
  --gray-30: #b2b2b2;

  /* layout */
  --max-width-header: 1224px;
  --max-width: 1100px;
  --column-width: 130px;
  --line-height: 1.6;

  /* padding and gaps */
  --padding-button-big: 16px 25px;
  --padding-button-small: 8px 32px;
  --padding-button-xsmall: 0px 18px;
  --padding-container: 2.5rem;
  --padding-loan-card: 7px 21px 14px 21px;
  --gap: 2.5rem;

  /* backgrounds */
  --background-radial-gradient: radial-gradient(#ffffff, #f6f2f0);
  --background-fieldset: rgba(255, 255, 255, 0.8);
  --background-white: #ffffff;
  --background-dark: #282828;
  --background-lighter-dark: #383838;
  --background-faded-green: #eaf8f5;
  --background-blue-paper: #d4e5ff;
  --background-orange-paper: linear-gradient(
    160deg,
    rgba(255, 92, 0, 0.3) 0%,
    rgba(255, 214, 0, 0.3) 100%
  );
  --background-green-paper: radial-gradient(
    124.1% 1463.12% at 1.55% -61.48%,
    rgba(61, 138, 181, 0.2) 0%,
    rgba(17, 209, 169, 0.2) 100%
  );

  /* shadows */
  --box-shadow: 0 0 20px 0px rgb(171 155 150 / 20%);
  --box-shadow-blue: 0px 0px 20px rgba(0, 0, 238, 0.1);
  --box-shadow-red: 0px 0px 20px rgba(238, 0, 0, 0.1);

  /* border styles */
  --border-radius: 10px;

  /* font styles */
  --serif: 'Times New Roman', Times, serif;
  --sans: 'GT Maru Regular', Helvetica, sans-serif;
  --mono: 'Courier Prime', 'Courier New', monospace;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-semibold: 600;
  --font-small: 11px;
  --font-medium: 14px;
  --font-large: 16px;
  --font-huge: 20px;

  /* component specific dimensions */
  --modal-width-narrow: 460px;
  --modal-width-regular: 580px;
  --column-width: 130px;
}

html,
body {
  font-family: var(--mono);
  line-height: var(--line-height);
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  background: var(--background-white);
  min-height: 100vh;
}

@media screen and (max-width: 639px) {
  html,
  body {
    font-size: var(--font-small);
  }
}

* {
  box-sizing: border-box;
  font-family: var(--mono);
}

h1 {
  font-size: var(--font-huge);
  font-weight: var(--weight-regular);
}

h2,
h3 {
  font-size: var(--font-large);
  font-weight: var(--weight-regular);
}

a {
  color: var(--highlight-clickable-100);
  text-decoration: none;
}

a:visited {
  color: var(--highlight-visited-100);
}

p {
  line-height: 2rem;
}

/* Have to override Reakit default to make sure that our tooltips go above
 * other things that have a z-index > 0
 */
div[role='tooltip'] {
  z-index: 3 !important;
}

th {
  font-weight: var(--weight-regular);
}
